<div class="container">
  <label
    ><input type="checkbox" (change)="toggleCapitalLetters()" />Allow capital
    letters</label
  ><br />
  <label
    ><input type="checkbox" (change)="toggleNumbers()" />Allow numbers</label
  ><br />
  <label>
    <input type="checkbox" (change)="toggleSpecialCharacters()" />Allow special
    characters
  </label>
  <br />
  <br />

  <label>Number of characters</label><br />
  <label> <input type="radio" name="length" /> 3 </label>
  <label> <input type="radio" name="length" /> 4 </label>
  <label> <input type="radio" name="length" checked /> 5 </label>
  <label> <input type="radio" name="length" /> 6 </label>
  <label> <input type="radio" name="length" /> 7 </label>
  <label> <input type="radio" name="length" /> 8 </label>

  <br />
  <br />
  <br />

  <input
    type="text"
    maxlength="3"
    #passwordInput
    (keypress)="validateInput($event)"
  />

  <br />
  <br />
  <br />
  <br />

  <button (click)="resetBtnClick()">Reset</button>

  <button (click)="buttonClick(passwordInput.value)">Go</button>
  <ul>
    <li *ngFor="let match of matchList">{{ match }}</li>
  </ul>
</div>
